@tailwind base;
@tailwind components;
@tailwind utilities;

/* to cannot selct body area */
/* body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

#default-tab button[aria-selected="true"] {
    background: linear-gradient(97deg, #C3976A 1.98%, #C3976A 43.12%, #C3976A 99.93%);
}

select:not([size]) {
    appearance: none;
    padding-right: 0px;
    background-image: url(/images/arrow.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
}

#navbar-sticky.active {
    @apply left-0
}

.exchange-icons {
    position: absolute;
    top: -5;
    left: 45%;
    border: 2px solid #846a51;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    cursor: pointer;
    transition: all 0.5s;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-icons:not(:hover) {
    transform: rotate(-180deg);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 1023px) {
    .swiper {
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
        .swiper-pagination.swiper-pagination-bullets {
            display: none;
        }
    }
}
.swiper {

    .swiper-button-next,
    .swiper-button-prev {
        background-color: #C3976A7F;
        color: white;
        transition-duration: 300ms;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .swiper-button-prev {
        left: 0rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0;
    }

    .swiper-button-next {
        right: 0rem;
        border-top-left-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1rem;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1rem;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        background-color: #924A367F;
    }

    .swiper-pagination.swiper-pagination-bullets {
        position: relative !important;
        margin-top: 1rem;
        bottom: 0 !important;

        .swiper-pagination-bullet {
            background: #c3976a !important;
            width: 1.2rem !important;
            height: 1.2rem !important;

            .swiper-pagination-bullet-active {
                background: #924936 !important;
            }
        }
    }
}